<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.he.studenmanagement">

    <application
        tools:replace="android:allowBackup,icon,theme,label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="studentManageMent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.admin_login_activity"></activity>
        <activity android:name=".activity.admin_manage_activity"></activity>
        <activity android:name=".activity.admin_bank_activity"></activity>
        <activity android:name=".activity.admin_paper_activity"></activity>
        <activity android:name=".activity.student_login_activity"></activity>
        <activity android:name=".activity.addStudent_info_activity"></activity>
        <activity android:name=".activity.beginExamActivity"></activity>
        <activity
            android:name=".activity.admin_activity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".activity.studentInfo_activity"></activity>
        <activity android:name=".activity.student_total_score"></activity>
        <activity android:name=".activity.student_activity"></activity>
        <activity android:name=".activity.paperInfo_activity"></activity>
        <activity android:name=".activity.updatePaper_Info_activity"></activity>
        <activity android:name=".activity.deletePaper_activity"></activity>

        <receiver android:name=".tools.MyBroadcastBestPractice">
            <intent-filter>
                <action android:name="com.he.example.OfflineBradcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest
>
